<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46365526449-vhq28ujd9i4pc594f36rcam2lddudmv6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46365526449-vhq28ujd9i4pc594f36rcam2lddudmv6</string>
	<key>API_KEY</key>
	<string>AIzaSyBHd0Cyt-PrjPcpUSNVwn4oCuQsTg6Oc2k</string>
	<key>GCM_SENDER_ID</key>
	<string>46365526449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopapp</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-a272b</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-a272b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46365526449:ios:f53d0ea47014ae6a8a1590</string>
</dict>
</plist>